@page
@model KoiCareSystemAtHome.WebApplication.Pages.SaltCalculationPages.DetailsModel

<div>
    <h4>SaltCalculation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaltCalculation.RequiredSaltAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaltCalculation.RequiredSaltAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaltCalculation.CalculationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaltCalculation.CalculationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaltCalculation.Pond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaltCalculation.Pond.NamePond)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SaltCalculation.SaltCalculationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
