@page
@model KoiCareSystemAtHome.WebApplication.Pages.SaltCalculationPages.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaltCalculation[0].RequiredSaltAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaltCalculation[0].CalculationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaltCalculation[0].Pond)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SaltCalculation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSaltAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pond.NamePond)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SaltCalculationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SaltCalculationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SaltCalculationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
