@page
@model KoiCareSystemAtHome.WebApplication.Pages.NewsPage.IndexModel

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="Index">Back</a>
</p>

<form method="get" asp-page="./Index">
    <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search by Title or Content..." />
    <input type="text" name="author" value="@Request.Query["author"]" placeholder="Author..." />
    <input type="date" name="publishDate" value="@Request.Query["publishDate"]" placeholder="Publish Date..." />
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a href="@item.Content" target="_blank">@item.Content</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>