@page
@model KoiCareSystemAtHome.WebApplication.Pages.PondPage.IndexModel

<p>
    <a asp-page="Create">Create New Pond</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].NamePond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].ImagePond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].DrainCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].PumpCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond[0].User)
            </th>
            <th>Actions</th>
            <th>Create Koi Fish</th> <!-- Thêm cột cho nút tạo Koi Fish -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pond)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamePond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrainCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PumpCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PondId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PondId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PondId">Delete</a>
                </td>
                <td>
                    <!-- Thêm đường dẫn tạo Koi Fish với PondId -->
                    <a asp-page="/KoiFishPage/Create" asp-route-pondId="@item.PondId">Create Koi Fish</a>
                </td>
            </tr>
        }
    </tbody>
</table>
