@page
@model KoiCareSystemAtHome.WebApplication.Pages.WaterParameterPages.DeleteModel

<div class="container">
    <!-- Header với tiêu đề và nút điều hướng -->
    <div class="row bg-info text-dark py-3 mb-4 d-flex justify-content-between align-items-center">
        <div class="col text-center">
            <h1 class="mb-0">Delete Water Parameter</h1>
        </div>
        <div class="col-auto">
            <a asp-page="./Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to List</a>
        </div>
    </div>

    <!-- Nội dung xác nhận xóa -->
    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div class="card shadow-sm p-4 mb-4">
        <h4>Water Parameter</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.Temperature)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.Temperature)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.SaltLevel)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.SaltLevel)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.PH)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.PH)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.Oxygen)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.Oxygen)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.Nitrie)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.Nitrie)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.Nitrate)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.Nitrate)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.Phospate)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.Phospate)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WaterParameter.MeasurementTime)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.WaterParameter.MeasurementTime)</dd>

        </dl>
    </div>

    <!-- Form xóa với nút xác nhận và nút quay lại -->
    <form method="post" class="d-flex justify-content-center">
        <input type="hidden" asp-for="WaterParameter.WaterParameterId" />
        <input type="submit" value="Delete" class="btn btn-danger mr-3" />
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>