@page
@model KoiCareSystemAtHome.WebApplication.Pages.KoiFishPage.DeleteModel

<div class="container">
    <h2 class="text-danger text-center mb-4"><i class="fa fa-exclamation-triangle"></i> Xác nhận Xóa Cá Koi</h2>
    <p class="text-center">Bạn có chắc chắn muốn xóa cá Koi này? Xóa cá Koi sẽ xóa tất cả lịch trình cho ăn liên quan !</p>

    <div class="card mx-auto shadow-sm" style="max-width: 600px;">
        <div class="card-body">
            <dl class="row">

                <!-- Tên Cá -->
                <dt class="col-sm-4"><i class="fa fa-tag"></i> Tên Cá</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.NameFish)</dd>

                <!-- Ảnh Cá -->
                <dt class="col-sm-4"><i class="fa fa-image"></i> Ảnh Cá</dt>
                <dd class="col-sm-8">
                    <img src="/images/@Model.KoiFish.ImageFish" alt="Koi Fish Image" style="max-width: 100px;" />
                </dd>

                <!-- Dáng -->
                <dt class="col-sm-4"><i class="fa fa-stream"></i> Dáng</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.BodyShape)</dd>

                <!-- Tuổi -->
                <dt class="col-sm-4"><i class="fa fa-birthday-cake"></i> Tuổi</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.AgeFish)</dd>

                <!-- Kích thước -->
                <dt class="col-sm-4"><i class="fa fa-arrows-alt-h"></i> Kích thước</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Size)</dd>

                <!-- Cân nặng -->
                <dt class="col-sm-4"><i class="fa fa-weight-hanging"></i> Cân nặng</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.WeightFish)</dd>

                <!-- Giới tính -->
                <dt class="col-sm-4"><i class="fa fa-venus-mars"></i> Giới tính</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Gender)</dd>

                <!-- Giống -->
                <dt class="col-sm-4"><i class="fa fa-dna"></i> Giống</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Breed)</dd>

                <!-- Xuất xứ -->
                <dt class="col-sm-4"><i class="fa fa-globe"></i> Xuất xứ</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Origin)</dd>

                <!-- Giá -->
                <dt class="col-sm-4"><i class="fa fa-dollar-sign"></i> Giá</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Price)</dd>

                <!-- Vị trí -->
                <dt class="col-sm-4"><i class="fa fa-map-marker-alt"></i> Vị trí</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.FishLocation)</dd>

                <!-- Hồ -->
                <dt class="col-sm-4"><i class="fa fa-water"></i> Hồ</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.KoiFish.Pond.NamePond)</dd>

            </dl>

            <!-- Nút Xác nhận Xóa -->
            <form method="post" class="text-center mt-4">
                <input type="hidden" asp-for="KoiFish.FishId" />
                <input type="submit" value="Xóa" class="btn btn-danger btn-lg" /> |
                <a asp-page="./Index" class="btn btn-secondary btn-lg">Quay lại</a>
            </form>
        </div>
    </div>
</div>
