@page
@model KoiCareSystemAtHome.WebApplication.Pages.FeedingSchedulePages.DetailsModel

<div class="container">
    <h2 class="text-primary text-center mb-4"><i class="fa fa-info-circle"></i> Chi tiết Lịch Trình Cho Ăn</h2>

    <div class="card mx-auto shadow-sm" style="max-width: 600px;">
        <div class="card-body">
            <dl class="row">

                <!-- Thời gian cho ăn -->
                <dt class="col-sm-4"><i class="fa fa-clock"></i> Thời gian cho ăn</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FeedingSchedule.FeedingTime)</dd>

                <!-- Lượng thức ăn -->
                <dt class="col-sm-4"><i class="fa fa-utensils"></i> Lượng thức ăn</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FeedingSchedule.RequiredFoodAmount)</dd>

                <!-- Loại thức ăn -->
                <dt class="col-sm-4"><i class="fa fa-seedling"></i> Loại thức ăn</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FeedingSchedule.FoodType)</dd>

                <!-- Cá liên quan -->
                <dt class="col-sm-4"><i class="fa fa-fish"></i> Cá</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FeedingSchedule.Fish.NameFish)</dd>

                <!-- Hồ -->
                <dt class="col-sm-4"><i class="fa fa-water"></i> Hồ</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FeedingSchedule.Fish.Pond.NamePond)</dd>

            </dl>

            <!-- Nút Điều hướng -->
            <div class="text-center mt-4">
                <a asp-page="./Edit" asp-route-id="@Model.FeedingSchedule.FeedingScheduleId" class="btn btn-primary btn-lg">Chỉnh sửa</a>
                <a asp-page="./Index" class="btn btn-secondary btn-lg">Quay lại</a>
            </div>
        </div>
    </div>
</div>
