@page
@model KoiCareSystemAtHome.WebApplication.Pages.FeedingSchedulePages.IndexModel

<div class="container">
    <h2 class="text-primary text-center mb-4"><i class="fa fa-list"></i> Danh sách Lịch Trình Cho Ăn</h2>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th><i class="fa fa-clock"></i> Thời gian</th>
                <th><i class="fa fa-utensils"></i> Lượng thức ăn</th>
                <th><i class="fa fa-seedling"></i> Loại thức ăn</th>
                <th><i class="fa fa-fish"></i> Cá</th>
                <th><i class="fa fa-tools"></i> Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FeedingSchedule)
            {
                <tr>
                    <td>@item.FeedingTime</td>
                    <td>@item.RequiredFoodAmount</td>
                    <td>@item.FoodType</td>
                    <td>@item.Fish.NameFish</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.FeedingScheduleId" class="btn btn-info btn-sm"><i class="fa fa-info-circle"></i> Xem</a>
                        <a asp-page="./Edit" asp-route-id="@item.FeedingScheduleId" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Sửa</a>
                        <a asp-page="./Delete" asp-route-id="@item.FeedingScheduleId" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
